langchain==0.2.16 
langchain_core==0.2.38 
langchain_community==0.2.16 
pymupdf 
openai 
langchain_openai==0.1.23 
langchain_huggingface==0.0.3
langchain-qdrant 
qdrant_client 
asyncio 
ragas==0.1.14 
pandas
transformers 
sentence-transformers 
chainlit