langchain==0.2.16
langchain_core==0.2.38
langchain_community==0.2.16
pymupdf==1.24.10
openai==1.47.1
langchain_openai==0.1.23
langchain-qdrant==0.1.4
qdrant_client==1.11.2
asyncio==3.4.3
chainlit==0.7.700

marshmallow==3.22.0
jsonpointer==3.0.0